.youtube-button {
  margin: 0 8px;
  padding: 0 16px;
  height: 36px;
  font-size: 14px;
  line-height: 36px;
  border-radius: 18px;

  color: #0f0f0f;
  background-color: #f1f1f1;

  white-space: nowrap;
  min-width: 0;
  text-transform: none;
  font-family: "Roboto", "Arial", sans-serif;
  font-size: 14px;
  font-weight: 500;
  line-height: 18px;
  border: none;
  cursor: pointer;
  outline-width: 0;
  box-sizing: border-box;
  text-decoration: none;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  -webkit-tap-highlight-color: transparent;
}
.youtube-button:hover:enabled {
  filter: brightness(90%);
}
.youtube-button:disabled {
  cursor: default;
}
.youtube-button:disabled:not(.green, .red) {
  /* not(.green, .red) deselects the +1/-1 buttons */
  /* because filter seems to changes z-index */
  /* which covers the timeline dropdown list */
  filter: brightness(50%);
}

.youtube-button.green {
  color: #f1f1f1;
  background-color: green;
}
.youtube-button.green:disabled {
  color: #797979;
  background-color: #004000;
}

.youtube-button.red {
  color: #f1f1f1;
  background-color: red;
}
.youtube-button.red:disabled {
  color: #797979;
  background-color: #800000;
}
