button.youtube-button {
  margin: 0 8px;
  padding: 0 16px;
  height: 36px;
  font-size: 14px;
  line-height: 36px;
  border-radius: 18px;
  
  white-space: nowrap;
  min-width: 0;
  text-transform: none;
  font-family: "Roboto", "Arial", sans-serif;
  font-size: 14px;
  font-weight: 500;
  line-height: 18px;
  border: none;
  cursor: pointer;
  outline-width: 0;
  box-sizing: border-box;
  text-decoration: none;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  -webkit-tap-highlight-color: transparent;
}
