#clicker-browser-extension-panel.hidden-content {
  /* completely remove scoring ui */
  display: none;
  visibility: hidden;
}

#clicker-browser-extension-panel {
  width: 100%;
}

#clicker-browser-extension-panel > div {
  /* looks nice */
  margin-top: 1%;
  display: flex;
}

#clicker-browser-extension-timeline {
  /* https://css-tricks.com/absolute-positioning-inside-relative-positioning/ */
  position: relative;
  flex-basis: 100%;

  /* TODO: hide overflowing ticks at very end of video */
  /* overflow: hidden; this will hide hover tables too 💀 */

  /* element on foreground to recieve mouse clicks */
  z-index: 0;

  height: 2em;
  align-self: center;
}

/* white background for timeline */
.clicker-browser-extension-block {
  position: absolute;
  background: white;
  z-index: -3;
  height: 100%;
  width: 10%;
  transition-duration: 0.2s;
}
.clicker-browser-extension-block:hover {
  background: gray;
}
.clicker-browser-extension-list {
  /* hide list until selected */
  display: none;
  visibility: hidden;
  opacity: 0;

  /* position the dropdown menu */
  position: relative;
  top: 100%;
  left: 0%;
  height: 400%;

  transition: all 0.2s ease;
  background-color: white;
  overflow-y: scroll;
}
.clicker-browser-extension-block:hover > .clicker-browser-extension-list,
.clicker-browser-extension-block:focus-within > .clicker-browser-extension-list,
.clicker-browser-extension-block .clicker-browser-extension-list:hover {
  display: inline-block;
  visibility: visible;
  opacity: 1;
  width: auto;
}

.clicker-browser-extension-stripe {
  position: absolute;
  width: 1%;
  z-index: -2;
  height: 100%;
  width: 0.1%;

  /* ignore mouse hovers */
  /* https://stackoverflow.com/a/4839672 */
  pointer-events: none;
}
.clicker-browser-extension-stripe.pos {
  background: green;
}
.clicker-browser-extension-stripe.neg {
  background: red;
}

/* gray ticks representing every 10% */
.clicker-browser-extension-tick {
  position: absolute;
  background: gray;
  z-index: -1;
  height: 80%;
  top: 10%;
  width: 0.2%;

  /* ignore mouse hovers */
  pointer-events: none;
}

#clicker-browser-extension-counter-buttons > button {
  width: 50%;
  height: 4em;
}
